.DS_Store
.dart_tool/

.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies

build/
example/.flutter-plugins*
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

.idea
pubspec.lock
flutter_typeahead

doc

example/android/gradle/wrapper/gradle-wrapper.jar
example/android/gradlew
example/android/gradlew.bat
example/example.iml
example/ios/Flutter/flutter_export_environment.sh
example/pubspec.lock`