.DS_Store
.dart_tool/

.packages
.pub/

build/
example/.flutter-plugins*
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

.idea
pubspec.lock
flutter_typeahead

doc